name: Check News Item

on:
  pull_request_target:
    branches:
    - main

jobs:
  build:
    uses: Billingegroup/release-scripts/.github/workflows/_check-news-item.yml@{{ VERSION/v0 }}
    with:
      project: {{ PROJECT/PROJECT_NAME }}
